.one{
    color: black;
    background-color: seagreen;
}
.second{
    color: chocolate;
    background-color: rgb(255,0,0,0)
}
h2{
    color:cadetblue;
}
div p{
    color: hotpink;
}
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.chapter {
    text-transform: uppercase;
    text-decoration: underline;
    color: blue;
    margin-top: 30px;
    text-align: left;
}

.content {
    text-align: justify;
    line-height: 1.6;
}
